html
html
   head
      title Form Tester
   body
    h1 Get Mehod
    <br>
      form(action = "/getMethodSuccess", method = "Get")
         div
            label(for = "Username") Username: 
            input(name = "Username" )
         br
         div
            label(for = "Password") Password: 
            input(name = "Password")
         br
         button(type = "submit") Submit