html
html
   head
      title Form Tester
   body
   h1 Post Method
   <br>
      form(action = "/postMethodsuccess", method = "POST")
         div
            label(for = "Firstname") Firstname: 
            input(name = "Firstname" )
         br
         div
            label(for = "Lastname") Lastname: 
            input(name = "Lastname")
         br
         button(type = "submit") Submit